* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.html {
    font-size: 10px;
    font-family: 'Poppins';
}

.frame1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    
    background-color: rgba(38, 101, 129, 0.8);
}

.SignUp {
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 75%;
    background: #1F485B;
    border-radius: 31px;
}

.SignUp_right {

}

