:root {
    --color: green;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #div1 {
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 244, 0.1);
    background-image: linear-gradient(
        0.25turn,
        rgba(27, 123, 219, 0.8),
        rgba(208, 16, 16, 0.2)
      ),
      url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjdOvWkfOkXFA83NbPo5KVQQalryBvR4U1FQLDo8x5iA&s");
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    background-origin: border-box;
}

div {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 244, 211, 0.1);
}
#pos1 {
    background-color: rgb(59, 128, 192);
    position: relative;
    top: 30px;
}

#pos2 {
    width: 400px;
    height: 400px;
    background-color: rgb(217, 255, 1);
    position: relative;
    top: 50px;
}

#pos3 {
    background-color: rgba(0, 88, 221, 0.1);
    position: absolute;
    top:50px;
    bottom: 100px;
    transform: translateX(50%);
    text-align: center;
    /* Display: none; 
    line-height: 100px;
}
#head {
    width: 500px;
    height: 50px;
    background-color: aquamarine;
    position: fixed;
    top: 0;
} */

/* khi  */
.flex {
    width: 250px;
    height: 250px;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    background-color: rgb(79, 184, 10);
    justify-content: center;
    align-items: center;

}

.class-item {
    width: 30%;
    height: 30%;
}

.item1 {
    background-color: rgb(217, 255, 1);
    -ms-flex-order: 3;
}

.item2 {
    background-color: aquamarine;
    -ms-flex-order: 2;
}

.item3 {
    background-color: rgba(255, 8, 0, 0.445);
    -ms-flex-order: 1;
}


